/* sidebar */
div .flowchart-toolbar {
  width: 120px;
  border-radius: 0.5rem 0 0 0.5rem;
}
.flowchart-toolbar {
  padding-top: 1rem;
}

div .flowchart-svg {
  background-color: white;
  border-radius: 0 0.5rem 0.5rem 0;
}

.flowchart-svg ellipse {
  fill: #ff7f291a;
  stroke: #ff7f29;
}
.flowchart-svg rect {
  stroke: rgb(240, 222, 98);
  fill: rgb(255, 251, 228);
}
.flowchart-svg polygon {
  stroke: #1f6ee4;
  fill: #1f6ee41a;
}
.flowchart-toolbar-item {
  margin: 0.2rem auto;
}

/* Nodes stroke animation */
div .flowchart-svg ellipse,
div .flowchart-svg rect,
div .flowchart-svg polygon {
  stroke-dasharray: 10;
  animation: dash 1.5s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 30;
  }
}
