@tailwind base;
@tailwind components;
@tailwind utilities;

/* sidebar */
div .flowchart-toolbar {
  width: 120px;
  border-radius: 1rem 0 0 1rem;
}
.flowchart-toolbar {
  padding-top: 1rem;
}

div .flowchart-svg {
  background-color: white;
  border-radius: 0 1rem 1rem 0;
}

.flowchart-svg ellipse {
  fill: #fd7623;
  stroke: black;
}
.flowchart-svg rect {
  stroke: black;
  fill: rgb(240, 222, 98);
  color: black;
}
.flowchart-svg polygon {
  stroke: black;
  fill: rgb(83, 241, 188);
}
.flowchart-toolbar-item {
  margin: 0.2rem auto;
}
